<mat-toolbar color="primary" class="header-toolbar">
  <button mat-icon-button (click)="toggleMenu()" aria-label="Toggle sidenav">
    <mat-icon>menu</mat-icon>
  </button>

  <img src="assets/images/logo.png" alt="My Garage" class="app-logo">

  <span class="spacer"></span>

  <div class="user-info" [matMenuTriggerFor]="userMenu" *ngIf="user">
    <div class="avatar-container" [matBadge]="unreadCount" [matBadgeHidden]="unreadCount === 0" matBadgeColor="warn"
      matBadgeSize="small">
      <img [src]="user.image_url || 'assets/images/default-avatar.png'" alt="User Image" class="user-image">
    </div>
    <span class="user-name">{{ user.full_name }}</span>
    <mat-icon class="dropdown-icon">arrow_drop_down</mat-icon>
  </div>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item routerLink="/notifications">
      <mat-icon [matBadge]="unreadCount" [matBadgeHidden]="unreadCount === 0" matBadgeColor="warn"
        matBadgeSize="small">notifications</mat-icon>
      <span>Notifications</span>
    </button>
    <button mat-menu-item routerLink="/change-password">
      <mat-icon>lock</mat-icon>
      <span>Change Password</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>