.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidenav-container {
  flex: 1;
  background-color: var(--bg-color);
}

.sidenav {
  width: 250px;
  background: var(--surface-color);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.main-content {
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
}