.container {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.password-card {
    width: 100%;
    max-width: 500px;
}

.password-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 16px;
}

.full-width {
    width: 100%;
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}