<div class="chart-container" [style.height]="height">
    <ngx-charts-line-chart [scheme]="colorScheme" [results]="chartResults" [gradient]="gradient" [xAxis]="showXAxis"
        [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [autoScale]="autoScale" [timeline]="timeline"
        [yAxisTickFormatting]="formatYAxis">

        <ng-template #tooltipTemplate let-model="model">
            <div class="custom-tooltip">
                <span class="tooltip-label">{{ model.series }} - Session {{ model.name }}</span>
                <span class="tooltip-val">{{ model.extra.timeStr }}</span>
                <span class="tooltip-date">{{ model.extra.date | date:'mediumDate' }}</span>
            </div>
        </ng-template>
    </ngx-charts-line-chart>
</div>
</div>
</div>