.part-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 8px;
}

.full-width {
    width: 100%;
}

.form-row {
    display: flex;
    gap: 16px;

    mat-form-field {
        flex: 1;
    }
}