.supplier-card {
    position: relative;
}

.supplier-table {
    .mat-column-actions {
        white-space: nowrap;
        width: 150px;
        text-align: right;

        .action-buttons {
            display: flex;
            gap: 8px;
            justify-content: flex-end;
        }
    }
}

.mat-column-actions {
    width: 100px;
    text-align: right;
}

.align-left {
    text-align: left !important;
}
